################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tasks4U/FileContentIndex
/obj
/.vs/Tasks4U
/bin/Debug/net6.0-windows
/.vs/ProjectEvaluation
/Task4UTests/bin/Debug/net6.0-windows
/Task4UTests/obj
/Tasks4U/bin/Debug/net6.0-windows
/Tasks4U/obj
/Tasks4U/bin/Release/net6.0-windows
/Tasks4U/Images/tasks.zip
/Task4UTests/bin/Release/net6.0-windows
/Tasks4USetup/Release
